@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to the Movie App</h1>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id mauris ex. Mauris tortor magna, feugiat et nulla non, faucibus egestas ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed quam quam, fermentum sit amet placerat sit amet, sollicitudin pulvinar ligula</p>
</div>