@model List<MovieApp.Models.ViewModels.MovieViewModel>
@{
    ViewData["Title"] = "Details";
}

<div>
<table>
    <tr>
        <th>Movie title</th>
        <th>Genre</th>
        <th>Rating</th>      
    </tr>
    @foreach(var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Genre</td>
            <td>@movie.Rating</td>
        </tr>   
    }
</table>

</div>